body
{
	margin: 10px;
	padding: 10px;
	color: #05296E;
	font: 14pt Verdana, sans-serif;
	text-align: left;
}

input[type=text]
{
	padding: 10px;
	width: 300px;
    border-radius: 3px;
    border: none;	
}

button
{
	margin: 10px;
	width: 75px;
}

div
{
	font-size: 12px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.20);
	-moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.20);
	box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.20);
}

#info>div
{
	border:1px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
}

#info>div.error
{
	color: red;
}